.case{
    display: flex;
    flex-direction: column;
    gap: 8px;
    .line{
        width: 86px;
        height: 2px;
        mix-blend-mode: exclusion;
        background: rgba(255, 255, 255);
        background-blend-mode: linear_dodge;
        box-shadow: 1.2172520160675049px 1.1344599723815918px 4.619999885559082px rgba(255, 255, 255, 0.13) inset;
        outline: 1px white solid;
        backdrop-filter: blur(7.58px);
    }
}