$h1: 80px;
$h2: 30px;
$text: 20px;
$elements: 16px;

$font-weight: 350;

$text-transform: lowercase;

$line-height: 79.20px;

$word-break: break-word;

$text-color: #000;

$button-width: calc(100vh / (100% + 277.53px));
$width: calc(100vh - (10% - 100px));
$gap-20: calc(100vh / 20);