@font-face {
  font-family: 'Cygre';
  src: url('/fonts/Cygre.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre_Book';
  src: url('/fonts/Cygre_Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


