.return-button {
    position: fixed;
    top: 10px;
    left: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  
  &:hover {
    background-color: #333;
  }
}
